@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-secondary: rgb(28, 28, 30);
  --color-white: rgba(255, 255, 255, 1);
  --color-white-200: rgba(242, 242, 247, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-gray: rgb(124, 124, 128);
  --color-blue: rgb(30, 110, 244);
  --color-red: rgb(255, 66, 69);
  --color-green: rgb(0, 137, 50);
  --color-indigo-400: rgb(86, 74, 222);
  --color-indigo-200: rgb(92, 184, 255);

  --color-blue-light: rgb(0, 136, 255);
  --color-blue-dark: rgb(0, 145, 255);

  --color-indigo-light: rgb(97, 85, 245);
  --color-indigo-dark: rgb(109, 124, 255);

  --color-yellow-light: rgb(255, 204, 0);
  --color-yellow-dark: rgb(255, 214, 0);
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  font-size: 17px;
}
